<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4">
    <title>HamEncode</title>
    <link rel="stylesheet" href="normalize.css"> 
    <link rel="stylesheet" href="styles.css">  <!-- update this -->
    <link rel="icon" href="data:;base64,=">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  </head>
  <body>
    <div class="website-header">
      <div class="outer-padded" id="top-section" style="background-color: gainsboro">
        <div class="imgbox"> <!-- -->
        <a href="https://shawnlu.dev"><img alt="logo" id="logo" src="shawnlu.png" /></a>
        </div>
      </div>
      <div class="gradient-header"></div>
    </div>
    <div class="website-body"> <!-- add padding-->
      <div class="title-box">
        <h1>Ham Encoder</h1>
        <h2>by Shawn</h2>
      </div>
      <div class="description-box">
        <p>
          Ham Encoder is an encryption algorithm inspired by hamming code (pun intended). It intentionally
          creates errors and injects the correction code into the message. The message allows alphanumerics
          as well as single spaces and commas. The "key" field can be used to shuffle the encryption mapping 
          encrypted messages can only be decrypted with the same key.           
        </p>
      </div>
      <div class="encoder-box">
        <div class="input-box">
          <form action="/hamencode" method="post">
            <p>
              <label for="encryption-key">Key</label>
              <input id="input-key" name="key" maxlength="20" pattern="[A-Za-z0-9]+" value="<%= key %>">
            </p>
            <p>
              <label for="encryption-message">Message</label>
              <input id="input-message" name="message" maxlength="100" pattern="[A-Za-z0-9 ,]+" value= "<%= input %>"> <!-- value resets??? -->
            </p>
            <p>
              <input type="submit" name="encrypt_button" value="encrypt">
            </p>
            <p>
              <!--https://stackoverflow.com/questions/547821/two-submit-buttons-in-one-form-->
              <input type="submit" name="decrypt_button" value="decrypt">
            </p>
        </form>
        </div>
        <div class="output-box">
          Output:
          <p><%= output %></p>
        </div>
      </div>
    </div>
  </body>    
</html>
