<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4">
    <title>HamEncode</title>
    <link rel="stylesheet" href="normalize.css"> 
    <link rel="stylesheet" href="styles.css">  <!-- update this -->
    <link rel="icon" href="data:;base64,=">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="outer-padded" style="background-color: gainsboro">
        <div class="top-section">
          <div class="imgbox">
            <a href="https://shawnlu.dev"><img alt="logo" id="logo" src="shawnlu.png" /></a>
          </div>
        </div>
      </div>
      <div class="gradient-180"></div>
    </div>
    <div class="main-body">
        
    </div>
  </body>    
</html>
