<!--New site with tailwind-->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="A website about Shawn" />
        <title>Shawn's Website</title>
        <link rel="stylesheet" href="tw.css" />
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="out.js"></script>
    </head>
    <body class="overflow-y-scroll scroll-smooth">
        <div id="root" class="h-fit" style="color: white; font-size: x-large">
            <div id="bg-animation" class="fixed top-0 -z-20 h-screen w-screen will-change-auto">
                <p id="animation-dot-1">.</p>
                <p id="animation-dot-2">.</p>
            </div>
            <div id="gradient-header1" class="fixed top-0 -z-10 h-screen w-screen"></div>
            <div id="gradient-header2" class="fixed top-0 z-30 h-[150px] w-screen bg-gradient-to-b from-black from-20% lg:hidden"></div>

            <div id="Header" class="fixed top-0 z-50 flex w-screen flex-row lg:h-screen lg:w-1/3 lg:flex-col">
                <div class="basis-1/3 pt-7 lg:hidden">
                    <!-- add 'active' class for animation -->
                    <button id="index-button" class="ml-7 mt-[1px] align-top">
                        <div class="grid grid-rows-3">
                            <img id="index-button-img-1" class="h-[11px] w-[35px]" src="icon-line.png" />
                            <img id="index-button-img-2" class="h-[11px] w-[35px]" src="icon-line.png" />
                            <img id="index-button-img-3" class="h-[11px] w-[35px]" src="icon-line.png" />
                        </div>
                    </button>
                </div>
                <div class="basis-1/3 select-none pt-4 lg:flex-none lg:pl-14 lg:pt-12">
                    <a href="#"><img id="logo-website" class="m-auto h-[70px] lg:ml-0 lg:h-[100px]" src="shawnlu-logo3.png" /></a>
                </div>
                <div id="index-list" class="hidden grow basis-1/3 select-none pt-10 lg:block lg:pl-14">
                    <ul class="w-fit columns-1 font-serif text-3xl leading-loose hover:text-slate-400">
                        <li id="index-item1">
                            <a class="inline-block pl-2 hover:text-white" href="#about"><p>About</p></a>
                        </li>
                        <li>
                            <a class="inline-block pl-2 hover:text-white"><p>Résumé</p></a>
                        </li>
                        <li>
                            <a class="inline-block pl-2 hover:text-white"><p>Projects</p></a>
                        </li>
                        <li>
                            <a class="inline-block pl-2 hover:text-white"><p>Blog</p></a>
                        </li>
                        <li>
                            <a class="inline-block pl-2 hover:text-white"><p>Contact</p></a>
                        </li>
                    </ul>
                </div>
                <div class="ml-auto mr-7 pt-7 md:hidden">
                    <button id="connection-button">
                        <img id="connection-button-img-1" class="h-[35px]" src="icon-link2.png" />
                        <img id="connection-button-img-2" class="absolute top-7 h-[35px]" src="icon-x.png" />
                    </button>
                </div>
                <div id="connections-list" class="hidden basis-1/3 select-none pt-7 md:block lg:pl-14">
                    <ul class="columns-3 lg:w-fit lg:columns-1">
                        <li class="lg:p-5 lg:pl-2">
                            <a href="https://www.linkedin.com/in/shawn-lu-235749188/" target="”_blank”">
                                <img class="h-[40px] hover:scale-110 lg:h-[50px]" src="icon-linkedin-w.png" />
                            </a>
                        </li>
                        <li class="lg:p-5 lg:pl-2">
                            <a href="https://github.com/chees-e" target="”_blank”">
                                <img class="h-[40px] hover:scale-110 lg:h-[50px]" src="icon-github-w.png" />
                            </a>
                        </li>
                        <li class="lg:p-5 lg:pl-2">
                            <a href="mailto:shawnlu4@gmail.com">
                                <img class="h-[40px] hover:scale-110 lg:h-[50px]" src="icon-gmail-w.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="down-arrow" class="fixed bottom-5 z-50 w-screen">
                <img src="icon-down.png" class="m-auto w-10 animate-bounce" />
            </div>

            <div id="body1" class="z-20 ml-[10vw] mt-[250px] h-[1200px] pr-10 lg:ml-[30vw] lg:mt-[300px]">
                <div id="title" class="sticky top-[150px] select-none font-sans drop-shadow-lg">
                    <div id="title-float" class="relative">
                        <h1 id="title1" class="text-6xl md:text-8xl lg:text-9xl">
                            <div><p>H</p><p>i</p><p>,</p> <p>I</p><p>'</p><p>m</p> <span>&#8203;</span></div
                            ><div><p>S</p><p>h</p><p>a</p><p>w</p><p>n</p></div>
                        </h1>
                        <h2 id="title2" class="pt-10 text-3xl md:text-4xl lg:text-6xl">
                            <div><p>W</p><p>e</p><p>l</p><p>c</p><p>o</p><p>m</p><p>e</p> <span>&#8203;</span></div
                            ><div><p>t</p><p>o</p> <span>&#8203;</span></div
                            ><div><p>m</p><p>y</p> <span>&#8203;</span></div
                            ><div><p>w</p><p>e</p><p>b</p><p>s</p><p>i</p><p>t</p><p>e</p><p id="title-u" style="opacity: 0">u</p></div>
                        </h2>
                    </div>
                </div>
            </div>

            <div id="body2" class="z-20 ml-[10vw] lg:ml-[30vw]" style="height: 10000px">
                <a id="about" class="invisible relative top-[-100px] block"></a>
                <div class="sticky top-[100px] mb-28 font-serif text-5xl drop-shadow-lg md:text-7xl">About</div>
                <div class="lg:columns-3">
                    <div class="lg:col-span-2">
                        <p><% for (var i = 0; i < aboutList.length; i++) { %><span><%= aboutList[i] %> </span><% ;} %></p>
                    </div>
                    <!-- todo use cdn for images -->
                    <div class="snap-x">
                        <div class="snap-center">
                            <img src="shawnlu-1.jpg" class="h-[30vh] rounded-xl lg:h-1/2" />
                        </div>
                        <div class="snap-center">
                            <img src="shawnlu-1.jpg" class="h-[30vh] rounded-xl lg:h-1/2" />
                        </div>
                    </div>
                    <!-- need responsive ^ -->
                </div>

                <!-- <img src="shawnlu-1.jpg" class="fixed left-0 top-0 -z-10 h-max w-max" /> -->
            </div>
        </div>
        <noscript class="absolute top-24 text-white lg:top-0"> It seems you don't have JavaScript enabled. For best experience, please enable JavaScript. </noscript>
        <div id="small-screen-warning" class="fixed left-0 top-0 h-screen w-screen bg-black text-white min-[270px]:hidden">
            <p class="m-auto px-3 pt-[40vh]">Your screen is too small, unexpected behaviour may occur. Please view the page from a larger screen</p>
        </div>
    </body>
</html>

<!-- old header: -->
<!-- <div id="Header" class="fixed top-0 grid w-screen grid-cols-3 lg:h-screen lg:w-1/3 lg:grid-cols-1 lg:grid-rows-6">
    <div class="z-50 pl-5 pt-3 lg:pl-14 lg:pt-12">
        <a href="#"><img id="logo-website" class="h-[10vh]" src="shawnlu-logo3.png" /></a>
    </div>
    <div id="index-list" class="z-50 hidden pt-10 lg:row-span-3 lg:block lg:pl-14">
        <ul class="w-fit columns-1 font-serif text-3xl leading-loose hover:text-slate-400">
            <li id="index-item1">
                <a class="inline-block pl-2 hover:text-white" href="#test"><p>About</p></a>
            </li>
            <li>
                <a class="inline-block pl-2 hover:text-white"><p>Résumé</p></a>
            </li>
            <li>
                <a class="inline-block pl-2 hover:text-white"><p>Projects</p></a>
            </li>
            <li>
                <a class="inline-block pl-2 hover:text-white"><p>Blog</p></a>
            </li>
            <li>
                <a class="inline-block pl-2 hover:text-white"><p>Contact</p></a>
            </li>
        </ul>
    </div>
    <div id="connections-list" class="z-50 col-span-2 pt-7 lg:col-span-1 lg:row-span-2 lg:pl-14">
        <ul class="columns-3 lg:w-fit lg:columns-1">
            <li class="pl-2 lg:p-5">
                <a href="https://www.linkedin.com/in/shawn-lu-235749188/" target="”_blank”">
                    <img class="h-[5vh] hover:scale-110" src="icon-linkedin-w.png" />
                </a>
            </li>
            <li class="pl-2 lg:p-5">
                <a href="https://github.com/chees-e" target="”_blank”">
                    <img class="h-[5vh] hover:scale-110" src="icon-github-w.png" />
                </a>
            </li>
            <li class="pl-2 lg:p-5">
                <a href="mailto:shawnlu4@gmail.com">
                    <img class="h-[5vh] hover:scale-110" src="icon-gmail-w.png" />
                </a>
            </li>
        </ul>
    </div>
    <div id="gradient-header2" class="fixed top-0 z-30 h-[20vh] w-screen bg-gradient-to-b from-black from-20% lg:hidden"></div>
</div> -->
