<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.4">
    <title>Shawn's Resume</title>
    <link rel="stylesheet" href="normalize.css"> 
    <link rel="stylesheet" href="styles.css">  <!-- update this -->
    <link rel="icon" href="data:;base64,=">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  </head>
  <body>
    <div class="website-header">
      <div class="outer-padded" id="top-section" style="background-color: gainsboro">
        <div class="imgbox"> <!-- -->
          <a href="https://shawnlu.dev"><img alt="logo" id="logo" src="shawnlu.png" /></a>
        </div>
        <div class="subheaders">
          <div style="width: 49%;">
            <p>Resume</p>
          </div>
          <div class="subheader-box">
            <a href="ShawnLuResume2023.pdf"><p>Download</p></a>
          </div>
        </div>
      </div>
      
      <div class="gradient-header"></div>
    </div>
    <div class="website-body"> <!-- add padding-->
      <!--https://www.w3docs.com/snippets/html/how-to-embed-pdf-in-html.html-->
      <iframe src="ShawnLuResume2023.pdf" style="display: block; position: absolute; height: 100%; width: 100%;">
        <p>Not seeing the PDF? You can still <a href="ShawnLuResume2023.pdf">Download</a> it.</p>
      </iframe>
    </div>
  </body>    
</html>
