@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    cursor: pointer;
}

@layer utilities {
    @variants responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}

/* (responsive) text sizes */
@layer components {
    /* Title 1 */
    .res-text-1 {
        @apply text-6xl md:text-8xl lg:text-9xl;
    }

    .res-text-2 {

    }
    /* Title 2 */
    .res-text-3 {
        @apply text-3xl md:text-4xl lg:text-6xl;
    }
    .res-text-4 {

    }
}

@keyframes bg-animate {
    from {
        transform: rotate(-100deg) scale(1) translateX(-20px);
    }
    to {
        transform: rotate(100deg) scale(3) translateX(20px);
    }
}
@keyframes title-animate {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(25px);
    }
}
@keyframes warning-fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Gradients */
#gradient-header1 {
    background: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
}

@media screen(lg) {
    #gradient-header1 {
        background: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.4) 100%);
    }
}

#gradient-header2.active {
    height: 1150px;
}

@media screen(md) {
    #gradient-header2.active {
        height: 1550px;
    }
}

/* Header lists */

.header-list-element{
    transition-duration: 0.5s;
}

#connections-list.active {
    right: 28px;
}

#index-list.active {
    left: 28px;
}

/* Title  */
/* 
@keyframes title-animate {
    from {
        letter-spacing: 0.5em;
    }
    to {
        letter-spacing: normal;
    }
}
*/
#title-float {
    animation-name: title-animate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
} 

#title-float p {
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
    transition-duration: 1s;
    display: inline-block;
    position: relative;
}

#title-float div {
    display: inline-block;
}

/* background animations */

#bg-animation {

    background-color: rgb(16, 4, 59);
}

#bg-animation p {
    display:inline-block;
    margin: 0px;
    width: 49%;
    font-size: 1000px;
    color: transparent;
    animation-name: bg-animate;
    animation-delay: -1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#animation-dot-1 {
    animation-direction: alternate;
    animation-duration: 31s;
}

#animation-dot-2 {
    animation-direction: alternate-reverse;
    animation-duration: 43s;
}

/* small screen warning fadeout */

#small-screen-warning {
    animation-name: warning-fadeout;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

/* button animations */

#index-button img {
    transition-duration: 0.6s;
}

.active #index-button-img-1 {
    transform: translateY(11px) rotate(45deg) ;
}

.active #index-button-img-2 {
    transform: rotate(135deg) ;
}

.active #index-button-img-3 {
    transform: translateY(-11px) rotate(-45deg);
}

.active #connection-button-img-2 {
    transform: rotate3d(-1, 1, 0, 0deg);
}

.active #connection-button-img-1 {
    transform: rotate3d(1, 1, 0, 90deg);
}

#connection-button-img-1 {
    transition-duration: 0.6s;
}

#connection-button-img-2 {
    transform: rotate3d(-1, 1, 0, -90deg);
    transition-duration: 0.6s;
}

/* index list */

#index-list .active {
    text-shadow: 5px 5px 30px rgb(255 255 255), 5px -5px 30px rgb(255 255 255), -5px 5px 30px rgb(255 255 255), -5px -5px 30px rgb(255 255 255);
}

#index-list p {
    transition-duration: 0.5s;
}

/* sections */
.section-title {
    transition-duration: 0.3s;
}

.section-title.active {
    transform: translateX(-200px) rotate(-90deg) translateX(-100px);
}

/* images */
#image-album-1 div {
    opacity: 0;
    transition-duration: 1s;
}

#image-album-1 div.active {
    opacity: 1;
}

#image-album-1 img {
    height: 70vw;
    width: 70vw;
}

@media screen(md) {
    #image-album-1 img {
        height: 40vw;
        width: 40vw;
    }
}

@media screen(lg) {
    #image-album-1 img {
        height: 40vw;
        width: 40vw;
    }
}

@media screen(xl) {
    #image-album-1 img {
        height: 20vw;
        width: 20vw;
    }
} 
